@page "/Surveys/AddSurvey"
@model COTSEClient.Pages.Survey.AddSurveyToWorkshopModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<link rel="stylesheet" href="~/css/AddSurvey.css" />
<div class="app pt-5 my-2" style="height:80vh">
    <!-- Sing in  Form -->
    @if (TempData["err_mess"] != null)
    {
        <div class="alert alert-danger">
            @TempData["err_mess"]
        </div>
    }
    @if (Model.data != null)
    {
        <section class="sign-in">
            <div class="headerx pb-2">
                <h1 class="ps-5 ms-2">Add new Survey</h1>
            </div>
            <div class="survey-container">
                <div class="signin-content">
                    <div class="signin-form">
                        <form method="POST" class="register-form" id="login-form" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <h5>SeriesName</h5>
                                <select class="form-control">
                                    <option>@Model.data?.SeriesName</option>
                                </select>
                                @Html.Hidden("wssId", Model.wssId)
                            </div>
                            <div class="form-group">
                                <h5>Workshop</h5>
                                <select class="form-control">
                                    <option>@Model.data.WorkshopName</option>
                                </select>
                                @Html.Hidden("wsId", Model.wsId)
                            </div>

                            <div class="form-group">
                                <h5>Form type</h5>
                                <select class="form-control" name="isPresenterSurvey">
                                    <option value="true">Presenter Form</option>
                                    <option value="false">Participant Form</option>
                                </select>
                            </div>

                            <div class="form-group" id="form-url">
                                <h5>Question Form</h5>
                                <input class="form-control" type="text" name="formUrl" id="formUrl" placeholder="Form Url" required />
                            </div>

                            <div class="form-group" id="key-control">
                                <h5>Survey Response(Optional)</h5>
                                <input type="file" class="form-control" name="key" id="key" placeholder="select folder" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="submit" class="form-submit" value="Add Survey" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    }
</div>
<script src="~/js/Survey/addSurvey.js">

</script>