@page "/Surveys/series-{wssId:int}/workshop-{wsId:int}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model COTSEClient.Pages.Survey.ListSurveyWorkshopModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>}

<div style="height:80%" class="my-2 pb-5">
    <section class="py-5">
        <div class="container px-5 mb-5">

            <div class="row gx-5 justify-content-center">
                <div class="text-center mb-5">
                    <h3 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">List surveys</span></h3><br />
                    <h5>Total collected survey: @Model._survey.Count()</h5>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-primary" href="../../Workshop/AddSurvey?wssId=@Model.wssId&wsId=@Model.wsId">Add Survey</a>
                </div>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <div class="candidate-list">

                        @foreach (var data in Model._survey)
                        {
                            <div class="candidate-list-box card mt-4">
                                <div class="p-4 card-body">
                                    <div class="align-items-center row">
                                        <div class="col-auto">
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="candidate-list-content mt-3 mt-lg-0">
                                                <form asp-page="/Surveys/series-@data.wssId/workshop-@data.wsId" method="post" id="form_@data.Id">
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("surveyId", data.Id)
                                                    @Html.Hidden("wssId", data.wssId)
                                                    @Html.Hidden("wsId", data.wsId)
                                                    @Html.Hidden("key", data.survey_url)
                                                    <a href="javascript:void(0)" onclick="submitForm('@data.Id')">
                                                        @data.survey_name
                                                    </a>
                                                </form>
                                                @if (data.added_date == null)
                                                {
                                                    <p class="text-muted mb-2">Start date: N/A</p>
                                                }
                                                else
                                                {
                                                    <p class="text-muted mb-2">Start date: @data.added_date</p>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1"><span class="badge bg-soft-secondary fs-14 mt-1">Design</span><span class="badge bg-soft-secondary fs-14 mt-1">Developer</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/js/Survey/ListSurveyWorkshop.js">

</script>