@page "/Surveys/UpdateSurvey"
@model COTSEClient.Pages.Survey.UpdateSurveyModel
@{
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<link rel="stylesheet" href="~/css/AddSurvey.css" />
<div class="app pt-5 my-2" style="height:80vh">
    @if (TempData["err_mess"] != null)
    {
        <div class="alert alert-danger">
            @TempData["err_mess"]
        </div>
    }
    <section class="sign-in">
        <div class="headerx pb-2">
            <h1 class="ps-5 ms-2">Add new Survey</h1>
        </div>
        <div class="survey-container">
            <div class="signin-content">
                <div class="signin-form">
                    <form method="POST" class="register-form" id="login-form" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <h5>SeriesName</h5>
                            <select class="form-control">
                                <option>@Model.data.SeriesName</option>
                            </select>
                            @Html.Hidden("wssId", Model.data.wssId)
                        </div>
                        <div class="form-group">
                            <h5>Workshop</h5>
                            <select class="form-control">
                                <option>@Model.data.WorkshopName</option>
                            </select>
                            @Html.Hidden("wsId", Model.data.wsId)
                        </div>

                        <div class="form-group">
                            @if (Model.data.isPresenter == true)
                            {
                                <h5>From type : Presenter</h5>
                            }
                            else
                            {
                                <h5>Form form : Participant</h5>
                            }
                        </div>
                        @if (Model.data.fileType != null)
                        {
                            <div class="form-group" id="form-url">
                                <h5>Question Form</h5>
                                <input class="form-control" type="text" name="formUrl" id="formUrl" placeholder="Form Url" required value="@Model.data.FormUrl" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group" id="form-url">
                                <h5>Question Form : <a href="@Model.data.FormUrl" target="_blank" class="link-offset-2 link-underline link-underline-opacity-0"> survey form</a></h5>
                                @Html.Hidden("formUrl", @Model.data.FormUrl)
                            </div>
                        }

                        <div class="form-group" id="key-control">
                            <h5>Submit Survey Response</h5>

                            @if (Model.data.fileType != null)
                            {
                                <span> CurrentFile is: @Model.data.surveyName@Model.data.fileType</span>
                            }
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="file" class="form-control" name="key" id="key" placeholder="select folder" />
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" id="update" class="form-submit" value="Update Survey" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/js/Survey/addSurvey.js">

</script>