@page
@model COTSEClient.Pages.Quizzes.DoQuizzesModel
@{
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Question Test</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/quizzteamplate.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <div class="widget-wrap">
            @if (Model.WorkshopQuestions != null)
            {
                <form asp-page="QuestionTest" method="post">
                    <label>Email người tham gia:</label>
                    <input type="text" class="form-control mb-3" asp-for="@Model.ParticipantEmail" required>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="survey-header">Câu hỏi dành cho hội thảo</div>
                        </div>
                    </div>

                    @for (int i = 0; i < Model.WorkshopQuestions.Count; i++)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="card-text">@Model.WorkshopQuestions[i].QuestionText</p>

                                @foreach (var answer in @Model.WorkshopQuestions[i].AnswerQuestions)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="question_@Model.WorkshopQuestions[i].Id" id="answer_@answer.AnswerText" value="@answer.AnswerText" onclick="handleRadioClick(this)">
                                        <label class="form-check-label" for="answer_@answer.AnswerText">@answer.AnswerText</label>
                                    </div>
                                }
                            </div>
                        </div>


                    }

                    <input type="hidden" asp-for="@Model.TestCurrentId" />
                    <input type="hidden" asp-for="@Model.WorkShopId" />


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </div>
                </form>

            }
        </div>
    </div>

    <script>
            console.log("Clicked");
            var selectedAnswerId = radio.value;
            var selectedAnswerName = radio.name;
            document.getElementById('AnswerParticipant_' + selectedAnswerName).value = selectedAnswerId;
            console.log(selectedAnswerName);
            console.log(selectedAnswerId);

            var allRadios = document.querySelectorAll('input[type="radio"]');
            var currentQuestion = radio.closest('.card');
            var radiosInCurrentQuestion = currentQuestion.querySelectorAll('input[type="radio"]');

            allRadios.forEach(function (radio) {
                if (!radio.closest('.card').isSameNode(currentQuestion)) {
                    radio.disabled = true;
                }
            });

            radiosInCurrentQuestion.forEach(function (radioInQuestion) {
                if (radioInQuestion !== radio) {
                    radioInQuestion.disabled = true;
                }
            });
        
    </script>
</body>

</html>
