@page "Presenters/DoQuizz"
@model COTSEClient.Pages.Quizzes.DoQuizzesModel
@{
}
@*<!DOCTYPE html>
 <html lang="vi">

 <head>
     <meta charset='utf-8'>
     <meta name='viewport' content='width=device-width, initial-scale=1'>
     <title>Câu hỏi về hội thảo</title>
     <link href="~/css/quizzstyle.css" rel="stylesheet" />
 </head>

 <body oncontextmenu='return false' class='snippet-body'>
     <div class="widget-wrap">
         <h1>Câu hỏi hiểu biết về chủ để hội thảo</h1>
         <div id="quizWrap">
             <div id="quizQn"> Docker ra đời năm nào?</div>
             <div id="quizAns">
                 <input type="radio" name="quiz" id="quizo0">
                 <label for="quizo0">2000</label>

                 <input type="radio" name="quiz" id="quizo1">
                 <label for="quizo1">2001</label>

                 <input type="radio" name="quiz" id="quizo2">
                 <label for="quizo2">2002</label>

                 <input type="radio" name="quiz" id="quizo3">
                 <label for="quizo3">2003</label>
             </div>
             <div id="quizQn"> Docker ra đời năm nào?</div>
             <div id="quizAns">
                 <input type="radio" name="quiz" id="quizo0">
                 <label for="quizo0">2000</label>

                 <input type="radio" name="quiz" id="quizo1">
                 <label for="quizo1">2001</label>

                 <input type="radio" name="quiz" id="quizo2">
                 <label for="quizo2">2002</label>

                 <input type="radio" name="quiz" id="quizo3">
                 <label for="quizo3">2003</label>
             </div>
             <div id="quizQn"> Docker ra đời năm nào?</div>
             <div id="quizAns">
                 <input type="radio" name="quiz" id="quizo0">
                 <label for="quizo0">2000</label>

                 <input type="radio" name="quiz" id="quizo1">
                 <label for="quizo1">2001</label>

                 <input type="radio" name="quiz" id="quizo2">
                 <label for="quizo2">2002</label>

                 <input type="radio" name="quiz" id="quizo3">
                 <label for="quizo3">2003</label>
             </div>
             <div id="quizQn"> Docker ra đời năm nào?</div>
             <div id="quizAns">
                 <input type="radio" name="quiz" id="quizo0">
                 <label for="quizo0">2000</label>

                 <input type="radio" name="quiz" id="quizo1">
                 <label for="quizo1">2001</label>

                 <input type="radio" name="quiz" id="quizo2">
                 <label for="quizo2">2002</label>

                 <input type="radio" name="quiz" id="quizo3">
                 <label for="quizo3">2003</label>
             </div>
         </div>
         <button id="submitButton" class="submit-button">Gửi câu trả lời</button>

     </div>

     <script>
         document.addEventListener('DOMContentLoaded', function () {
             const labels = document.querySelectorAll('#quizAns label');

             labels.forEach(function (label) {
                 label.addEventListener('click', function () {
                     labels.forEach(function (el) {
                         el.classList.remove('clicked');
                     });
                     this.classList.add('clicked');
                 });
             });
         });
     </script>

 </body>

 </html>*@

<!DOCTYPE html>
<html lang="vi">

<body>
    <div class="widget-wrap">
        @if (Model.WorkshopQuestions != null)
        {
            <form asp-page="QuestionTest" method="post">
                <div class="widget-wrap">
                    <label>Participant Email</label>
                    <input type="text" asp-for="@Model.ParticipantEmail" required>
                    <h1>SIMPLE JS QUIZ</h1>
                    <div id="quizWrap">

                        @for (int i = 0; i < Model.WorkshopQuestions.Count; i++)
                        {
                            <div id="quizQn_@Model.WorkshopQuestions[i].Id"> @Model.WorkshopQuestions[i].QuestionText</div>
                            foreach (var answer in @Model.WorkshopQuestions[i].AnswerQuestions)
                            {
                                <div id="quizAns">
                                    <input type="radio" name="@answer.AnswerText" value="@Model.WorkshopQuestions[i].Id" onclick="handleRadioClick(this)">
                                    <label>@answer.AnswerText</label>
                                </div>
                            }

                            <input type="text" asp-for="@Model.AnswerParticipantList[i].QuestionId" id="@Model.WorkshopQuestions[i].Id" value="@Model.WorkshopQuestions[i].Id" />

                            <input type="text" asp-for="@Model.AnswerParticipantList[i].Answer" id="AnswerParticipant_@Model.WorkshopQuestions[i].Id" />
                        }
                        <input type="hidden" asp-for="@Model.TestCurrentId" />
                        <input type="submit" value="submit" />

                    </div>
                </div>
            </form>

        }

    </div>

    <script>
        function handleRadioClick(radio) {
            console.log("Clicked");
            var selectedAnswerId = radio.value;
            var selectedAnswerName = radio.name;
            document.getElementById('AnswerParticipant_' + selectedAnswerId).value = selectedAnswerName;

            console.log(selectedAnswerId);

            var allRadios = document.querySelectorAll('input[type="radio"]');
            var currentQuestion = radio.closest('#quizQn');
            var radiosInCurrentQuestion = currentQuestion.querySelectorAll('input[type="radio"]');

            allRadios.forEach(function (radio) {
                if (!radio.closest('#quizQn').isSameNode(currentQuestion)) {
                    radio.disabled = true;
                }
            });

            radiosInCurrentQuestion.forEach(function (radioInQuestion) {
                if (radioInQuestion !== radio) {
                    radioInQuestion.disabled = true;
                }
            });
        }
    </script>
</body>

</html>
