@page "/AllSeries"
@using COTSEClient.Models
@model COTSEClient.Pages.Department.AllSeriesWorkshopModel
@using DataAccess.Models;
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "All Workshop Series";

    var searchInput = Model.SearchInput;
    var curentDate = Model.CurentDate;
}
<style>
    .search-container {
        display: flex;
        align-items: center;
    }

        .search-container .form-control {
            margin-right: 10px;
        }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Các chuỗi hội thảo</title>
    <style>
        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

            .search-container input[type="text"],
            .search-container input[type="date"],
            .search-container button[type="submit"] {
                padding: 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
            }

            .search-container button[type="submit"] {
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
            }

                .search-container button[type="submit"]:hover {
                    background-color: #0056b3;
                }
    </style>
</head>
<body>
    <main>
        <section class="py-5">
            <div class="container-fluid px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Các chuỗi hội thảo</span></h1>
                </div>
                <form method="get" class="d-flex justify-content-center mb-3">
                    <div class="search-container">
                        <input type="text" id="searchInput" name="searchInput" value="@searchInput" onchange="OnSearch()" placeholder="Nhập từ khóa tìm kiếm">
                        <input type="date" name="curentDate" value="@curentDate">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </form>
                <div class="row">
                    @if (Model.WorkshopSeriesPage != null && Model.WorkshopSeriesPage.Count > 0)
                    {
                        @foreach (var series in Model.WorkshopSeriesPage)
                        {
                            <div class="col-lg-4 mb-4">
                                <div class="card overflow-hidden shadow rounded-4 border-0">
                                    <div class="card-body p-3">
                                        <div class="d-flex align-items-center">
                                            <div class="p-3">
                                                <h2 class="fw-bolder">@series.WorkshopSeriesName</h2>
                                                <p>@series.Description</p>
                                                <p>Start Date: @series.StartDate</p>
                                                <p>End Date: @series.EndDate</p>
                                                <a class="btn btn-primary" href="/AllWorkshop">Xem chi tiết</a>
                                            </div>
                                            <img class="img-fluid" src="data:image/png;base64,@series.Image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-lg-12 mt-4">
                            <div class="pagination justify-content-center">
                                @if (Model.WorkshopSeriesPage.HasPreviousPage || Model.WorkshopSeriesPage.HasNextPage)
                                {
                                    <ul class="pagination">
                                        @if (Model.WorkshopSeriesPage.HasPreviousPage)
                                        {
                                            if (searchInput != null)
                                            {
                                                <li class="page-item"><a class="page-link" href="?pageIndex=@(Model.WorkshopSeriesPage.PageIndex - 1)&searchInput=@searchInput">Previous</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" href="?pageIndex=@(Model.WorkshopSeriesPage.PageIndex - 1)">Previous</a></li>
                                            }
                                        }
                                        @for (int i = 1; i <= Model.WorkshopSeriesPage.TotalPages; i++)
                                        {
                                            if (searchInput != null)
                                            {
                                                <li class="page-item"><a class="page-link" href="?pageIndex=@i&searchInput=@searchInput">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" href="?pageIndex=@i">@i</a></li>
                                            }
                                        }
                                        @if (Model.WorkshopSeriesPage.HasNextPage)
                                        {
                                            if (searchInput != null)
                                            {
                                                <li class="page-item"><a class="page-link" href="?pageIndex=@(Model.WorkshopSeriesPage.PageIndex + 1)&searchText=@searchInput">Next</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" href="?pageIndex=@(Model.WorkshopSeriesPage.PageIndex + 1)">Next</a></li>
                                            }
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-center">No Workshop Series available.</p>
                    }
                </div>
            </div>
        </section>
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Tạo chuỗi hội thảo mới?</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#createSeriesModal">Tạo mới</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

<script>
    function OnSearch() {
        var searchTerm = document.getElementById("searchInput").value;

        console.log("Search term:", searchTerm);

    }
</script>



<div class="modal fade" id="createSeriesModal" tabindex="-1" aria-labelledby="createSeriesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSeriesModalLabel">Tạo Chuỗi Hội Thảo Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="CreateWorkshopSeries" method="post" id="createSeriesForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="WorkshopSeries.WorkshopSeriesName" class="form-label"></label>
                        <input asp-for="WorkshopSeries.WorkshopSeriesName" class="form-control" placeholder="Nhập tên chuỗi hội thảo">
                        <span asp-validation-for="WorkshopSeries.WorkshopSeriesName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="WorkshopSeries.Description" class="form-label"></label>
                        <input asp-for="WorkshopSeries.Description" class="form-control" placeholder="Nhập mô tả">
                        <span asp-validation-for="WorkshopSeries.Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="WorkshopSeries.StartDate" class="form-label"></label>
                        <input asp-for="WorkshopSeries.StartDate" class="form-control" type="date">
                        <span asp-validation-for="WorkshopSeries.StartDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="WorkshopSeries.EndDate" class="form-label"></label>
                        <input asp-for="WorkshopSeries.EndDate" class="form-control" type="date">
                        <span asp-validation-for="WorkshopSeries.EndDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="imageFile" class="form-label"></label>
                        <input asp-for="imageFile" class="form-control" type="file">
                        <span asp-validation-for="imageFile" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </form>
            </div>
        </div>
    </div>
</div>