@page "/AllSeries"
@using COTSEClient.Models
@model COTSEClient.Pages.Department.AllSeriesWorkshopModel
@using DataAccess.Models;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Các chuỗi hội thảo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.tiny.cloud/1/7jklf0wivztyc070n45hmgxw1u2a19j5251bp9q0qi8canru/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="~/css/stylemessage.css" rel="stylesheet">
    <style>
        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

            .search-container input[type="text"],
            .search-container input[type="date"] {
                padding: 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
            }

            .search-container button[type="submit"] {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                background-color: #007bff;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

                .search-container button[type="submit"]:hover {
                    background-color: #0056b3;
                }

        .toolbar {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .toolbar-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin-right: 5px;
            font-size: 20px;
        }

        #editor {
            width: 100%;
            min-height: 200px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <main>
        <section class="py-5">
            <div class="container-fluid px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Các chuỗi hội thảo</span></h1>
                </div>
                <form method="post" class="d-flex justify-content-center mb-3">
                    <div class="search-container">
                        <input type="text" id="searchInput" name="searchInput" value="@Model.SearchInput" onchange="OnSearch()" placeholder="Nhập từ khóa tìm kiếm">
                        <input type="date" name="curentDate" value="@Model.CurentDate">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tên chuỗi hội thảo</th>
                                    <th>Mô tả</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.WorkshopSeriesPage != null)
                                {
                                    @foreach (var series in Model.WorkshopSeriesPage)
                                    {
                                        <tr>
                                            <td>@series.WorkshopSeriesName</td>
                                            <td>@Html.Raw(series.Description)</td>
                                            @*                                         <td>@series.Description</td>
                                    *@
                                            <td>@series.StartDate</td>
                                            <td>@series.EndDate</td>
                                            <td>
                                                <a class="btn btn-primary" href="/AllWorkshop?wsSeriesId=@series.Id">Xem chi tiết</a>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editSeriesModal-@series.Id">
                                                    Cập nhật thông tin
                                                </button>

                                                <!-- Modal Update-->
                                                <div class="modal fade" id="editSeriesModal-@series.Id" tabindex="-1" aria-labelledby="createSeriesModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="createSeriesModalLabel">Cập nhật thông tin chuỗi hội thảo </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form asp-page-handler="UpdateWorkshopSeries" method="post" id="createSeriesForm" enctype="multipart/form-data">
                                                                    <input type="hidden" asp-for="@Model.WorkshopSeries.Id" value="@series.Id" />

                                                                    <div class="mb-3">
                                                                        <label class="form-label">Tên chuỗi hội thảo</label>
                                                                        <input asp-for="@Model.WorkshopSeries.WorkshopSeriesName" value="@series.WorkshopSeriesName" class="form-control">
                                                                        <span asp-validation-for="WorkshopSeries.WorkshopSeriesName" class="text-danger"></span>
                                                                    </div>

                                                                    <input type="hidden" asp-for="@Model.WorkshopSeries.DepartmentId" value="@series.Id" />

                                                                    <div class="mb-3">
                                                                        <label class="form-label">Mô tả :</label>
                                                                        <textarea id="WorkshopSeries_Description" asp-for="@Model.WorkshopSeries.Description" class="form-control">@series.Description</textarea>

                                                                        <span asp-validation-for="WorkshopSeries.Description" class="text-danger"></span>

                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label class="form-label">Ngày bắt đầu</label>
                                                                        <input asp-for="@Model.WorkshopSeries.StartDate" value="@series.StartDate" class="form-control" type="date">
                                                                        <span asp-validation-for="WorkshopSeries.StartDate" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Ngày kết thúc</label>
                                                                        <input asp-for="@Model.WorkshopSeries.EndDate" value="@series.EndDate" class="form-control" type="date">
                                                                        <span asp-validation-for="WorkshopSeries.EndDate" class="text-danger"></span>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label asp-for="imageFile" class="form-label">Ảnh</label>
                                                                        <input asp-for="imageFile" class="form-control" type="file">
                                                                        <span asp-validation-for="imageFile" class="text-danger"></span>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Cập nhật </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                @if (Model.WorkshopSeriesPage != null)
                                {
                                    @if (Model.WorkshopSeriesPage.HasPreviousPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="?pageIndex=@(Model.WorkshopSeriesPage.PageIndex - 1)" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = 1; i <= Model.WorkshopSeriesPage.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == Model.WorkshopSeriesPage.PageIndex ? "active" : "")">
                                            <a class="page-link" href="?pageIndex=@i">@i</a>
                                        </li>
                                    }
                                    @if (Model.WorkshopSeriesPage.HasNextPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="?pageIndex=@(Model.WorkshopSeriesPage.PageIndex + 1)" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Tạo chuỗi hội thảo mới?</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" data-bs-toggle="modal" data-bs-target="#createSeriesModal">Tạo mới</a>
                </div>
            </div>
        </section>
    </main>


  
    <!-- Modal Create-->
    <div class="modal fade" id="createSeriesModal" tabindex="-1" aria-labelledby="createSeriesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createSeriesModalLabel">Tạo Chuỗi Hội Thảo Mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-page-handler="CreateWorkshopSeries" method="post" id="createSeriesForm" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="WorkshopSeries.WorkshopSeriesName" class="form-label">Tên chuỗi hội thảo</label>
                            <input asp-for="WorkshopSeries.WorkshopSeriesName" class="form-control" placeholder="Nhập tên chuỗi hội thảo">
                            <span asp-validation-for="WorkshopSeries.WorkshopSeriesName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="WorkshopSeries.Description" class="form-label">Mô tả</label>
                            <textarea asp-for="WorkshopSeries.Description" class="form-control" placeholder="Nhập mô tả"></textarea>
                            <span asp-validation-for="WorkshopSeries.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="WorkshopSeries.StartDate" class="form-label">Ngày bắt đầu</label>
                            <input asp-for="WorkshopSeries.StartDate" class="form-control" type="date">
                            <span asp-validation-for="WorkshopSeries.StartDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="WorkshopSeries.EndDate" class="form-label">Ngày kết thúc</label>
                            <input asp-for="WorkshopSeries.EndDate" class="form-control" type="date">
                            <span asp-validation-for="WorkshopSeries.EndDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="imageFile" class="form-label">Ảnh</label>
                            <input asp-for="imageFile" class="form-control" type="file">
                            <span asp-validation-for="imageFile" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Assign Researcher</label>
                            <select asp-for="@Model.ResearchAssignId">
                                @foreach (var item in Model.SystemUsers)
                                {
                                    <option value="@item.Id">@item.Email</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Tạo mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function OnSearch() {
            var searchTerm = document.getElementById("searchInput").value;
            console.log("Search term:", searchTerm);
        }

        tinymce.init({
            selector: 'textarea#WorkshopSeries_Description',
            plugins: 'lists link',
            toolbar: 'undo redo | bold italic underline | bullist numlist | link',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script>
    @{
        if (Model.Msg != null)
        {
            if (Model.Msg.Contains("Success"))
            {
                <input type="checkbox" id="alert-success-popup" class="input-hidden" @(string.IsNullOrEmpty(Model.Msg) ? "" : "checked")>
                <div class="alert-box-wrap alert-success-popup">
                    <div class="alert-content">
                        <div class="icon">
                            <img src="~/Image/success-icon.svg" alt="alert-icon">
                        </div>
                        <div class="body">
                            <h3>@Model.Msg</h3>
                        </div>
                        <div class="close-alert">
                            <label for="alert-success-popup">&times;</label>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <input type="checkbox" id="alert-error-popup" class="input-hidden" @(string.IsNullOrEmpty(Model.Msg) ? "" : "checked")>
                <div class="alert-box-wrap alert-error-popup">
                    <div class="alert-content">
                        <div class="icon">
                            <img src="~/Image/error-icon.svg" alt="alert-icon">
                        </div>
                        <div class="body">
                            <h3>@Model.Msg</h3>
                        </div>
                        <div class="close-alert">
                            <label for="alert-error-popup">&times;</label>
                        </div>
                    </div>
                </div>
            }
        }
    }
    <script>
        setTimeout(function () {
            document.querySelector('.alert-box-wrap').style.display = 'none';
        }, 1000);
    </script>
</body>
</html>